.videopage {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: auto;
}

.videoplayer-container {
  width: 70%;
  padding-right: 2rem;
}

.relatedvids-container {
    width: 20%;
}